[Unit]
Description=Google Pub/Sub Subscriber Script
After=network.target

[Service]
User=srilakp
WorkingDirectory=/home/srilakp
ExecStart=/home/srilakp/venv/bin/python3 /home/srilakp/new_subscriber.py
Restart=always
Environment="PYTHONUNBUFFERED=1"

[Install]
WantedBy=multi-user.target
